### Oops

In [1]:
## Class: Is nothing but  its a classification of real world entity
## Object: It is a variable or kind of data holds in a class

In [2]:
i = 10

In [3]:
type(i)

int

In [4]:
print(type(i))

<class 'int'>

In [5]:
class test:
    pass

In [6]:
def test():
    pass

In [7]:
class person:
    pass

In [8]:
## Variable of the class is nothing but a object

In [9]:
p = person

In [10]:
type(p)

type

In [11]:
print(p)

<class '__main__.person'>

In [12]:
p.name = "ravi"
p.surname = "kumar"
p.yob = 1998

In [13]:
a = person
a.name = "abs"
a.yob = 999
a.empno = 1344
a.surname = 'kumar'

In [14]:
p.name

'abs'

In [15]:
p.surname

'kumar'

In [16]:
p.yob

999

In [17]:
a.name

'abs'

In [18]:
p = person
p.name = "ravi"
p.surname = "kumar"
p.yob = 1998
a = person
a.name = "abs"
a.yob = 999
a.empno = 1344
a.surname = 'kumar'

In [19]:
p.name

'abs'

In [20]:
type(p.name)

str

In [21]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob

In [22]:
p = person("ravi","kumar",1234)
print(p)

<__main__.person object at 0x000001907EBBC388>

In [23]:
s = person("abc","xyx",244)

In [24]:
s.name

'abc'

In [25]:
p.name

'ravi'

In [26]:
class person:
    def __init__(self,name,surname,yob):
        self.name1 = name
        self.surname1 = surname
        self.yob = yob

In [27]:
p = person("ravi","kumar",1234)
print(p)

<__main__.person object at 0x000001907EBC16C8>

In [28]:
p.name

AttributeError: 'person' object has no attribute 'name'

In [29]:
p.name1

'ravi'

In [30]:
s.name

'abc'

In [31]:
s.name1

AttributeError: 'person' object has no attribute 'name1'

In [32]:
a = person("hello","dgsyug",3345)

In [33]:
a.name1

'hello'

In [34]:
class person:
    def __init__(a,name,surname,yob):
        a.name1 = name
        a.surname1 = surname
        a.yob = yob

In [35]:
p = person("dh","djdj","dhdh")

In [36]:
p.name1

'dh'

In [37]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+yob

In [38]:
p = person("ravi","kumar",355)

In [39]:
p.name

'ravi'

In [40]:
p.test()

TypeError: test() missing 2 required positional arguments: 'n' and 'm'

In [41]:
p.test(23,43)

NameError: name 'yob' is not defined

In [42]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+self.yob

In [43]:
p = person("dff",'dhhd',34)

In [44]:
p.name

'dff'

In [45]:
p.test(2,4)

40

In [46]:
s = person("ddd","sss",12)

In [47]:
s.test(1,2)

15

In [48]:
print(p)

<__main__.person object at 0x000001907EC46888>

In [49]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return 1

In [50]:
p = person("ddd",'ddda',3321)

In [51]:
print(p)

TypeError: __str__ returned non-string (type int)

In [52]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return "%s is a first name and its surname is %s and yob is %d" %(self.name,self.surname,self.yob)

In [53]:
p = person("ddd",'ddda',3321)

In [84]:
print(p)

ddd is a first name and its surname is ddda and yob is 3321

In [54]:
s = person("das",'kum',234)

In [55]:
print(s)

das is a first name and its surname is kum and yob is 234

In [56]:
p

In [57]:
print(p)

ddd is a first name and its surname is ddda and yob is 3321

In [58]:
class test:
    pass

In [59]:
p = test()
p.name = "ravu"
p.surname = "kum"
p.yob = 334

In [60]:
p.name

'ravu'

In [63]:
s = test()
s.name = "hshs"

In [64]:
s.name

'hshs'

In [65]:
p.name

'ravu'

In [66]:
p

In [67]:
print(p)

<__main__.test object at 0x000001907EC4A588>

In [69]:
class person:
    def pass_name(self,name):
        self.name = name
    def pass_surname(self,surname):
        self.surname = surname
    def pass_yob(self,yob):
        self.yob = yob

In [70]:
p = person()

In [72]:
p.pass_name("ravi")

In [73]:
p.name

'ravi'

In [74]:
s = person()

In [75]:
s.name

AttributeError: 'person' object has no attribute 'name'

In [76]:
s.pass_name("sudh")

In [77]:
s.name

'sudh'

In [78]:
p.pass_surname("kum")
p.pass_yob(223)

In [80]:
p.surname

'kum'

In [83]:
### Abstraction:

## Public: It means any one will able to access any of the variables or method anywhere
## Private: Just within the class 
## Protected: Means within the class and subclass we will able to access the data but outside we donot able to access

In [84]:
class person:
    def __init__(self,name,surname,yob):
        self._name = name
        self._surname = surname
        self._yob = yob
        
    def test(self,n,m):
        return n+m+self._yob
    
    def __str__(self):
        return "%s is a first name and its surname is %s and yob is %d" %(self._name,self._surname,self._yob)

In [86]:
p = person("ravi",'shd',6536)

In [89]:
p.name

AttributeError: 'person' object has no attribute 'name'

In [90]:
p._name

'ravi'

In [91]:
## _name called as protected in python
## name called as public
## __name means it is a private

In [92]:
p.__dict__

{'_name': 'ravi', '_surname': 'shd', '_yob': 6536}

In [93]:
s = person("asjn",'djdh',3773)

In [95]:
s.__dict__

{'_name': 'asjn', '_surname': 'djdh', '_yob': 3773}

In [98]:
class person:
    def __init__(self,name,surname,yob):
        self.__name = name
        self._surname = surname
        self._yob = yob
    def test(self,n,m):
        return n+m+self._yob
    def __str__(self):
        return "%s is a first name and its surname is %s and yob is %d" %(self._name,self._surname,self._yob)

In [99]:
p = person("tat",'jddj',345)

In [100]:
p.__name

AttributeError: 'person' object has no attribute '__name'

In [101]:
p._surname

'jddj'

In [102]:
p.__dict__

{'_person__name': 'tat', '_surname': 'jddj', '_yob': 345}

In [103]:
p._person__name

'tat'

In [104]:
### Inheritence nothing but inherits the property

In [117]:
class person:
    def __init__(self,name,surname,yob):
        self._name = name
        self._surname = surname
        self._yob = yob
    def test(self,n,m):
        return n+m+self._yob
    def __str__(self):
        return "%s is a first name and its surname is %s and yob is %d" %(self._name,self._surname,self._yob)

In [118]:
class student(person):
    def __init__(self,rollno,collegename,*args):
        super(student,self).__init__(*args)
        self.rollno = rollno
        self.collegename = collegename
        
        
        
        
        
stud = student(3444,"hss",'jffjf',"jum",203903)

In [119]:
stud._name

'jffjf'

In [120]:
stud.test(4,5)

203912

In [125]:
class a:
    def test(self):
        print("my name is ravi")
        
        
class b:
    def test(self):
        print("my surname is kumar")
        
        
        
class c(a,b):
    obja = a()
    objb = b()
    
    obja.test()
    objb.test()
    
    
objc = c()
objc.test()

my name is ravi
my surname is kumar
my name is ravi

In [126]:
class a:
    def test(self):
        print("my name is ravi")
        
        
class b:
    def test(self):
        print("my surname is kumar")
        
        
        
class c(b,a):
    obja = a()
    objb = b()
    
    obja.test()
    objb.test()
    
    
objc = c()
objc.test()

my name is ravi
my surname is kumar
my surname is kumar