In [2]:
range(10)

range(0, 10)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(10,3))

[]

In [6]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [7]:
list(range(10,3.5,-1))

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]


for i in l:
    print(i)

3
4
5
6
7
8
332
34
56
4
5
6

In [9]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]


for i in l:
    print(i+2)

5
6
7
8
9
10
334
36
58
6
7
8

In [11]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]
m = []

for i in l:
    m.append(i+2)

In [12]:
m

[5, 6, 7, 8, 9, 10, 334, 36, 58, 6, 7, 8]

In [13]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]
m = []

for i in range(len(l)):
    m.append(i+2)

In [14]:
m

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [16]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]

for i in range(len(l)):
    print(l[i])

3
4
5
6
7
8
332
34
56
4
5
6

In [17]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]
m = []

for i in range(len(l)):
    m.append(l[i]+2)

In [18]:
m

[5, 6, 7, 8, 9, 10, 334, 36, 58, 6, 7, 8]

In [19]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]
m = []

for i in range(len(l)):
    if i >= 10:
        
        m.append(l[i]+2)

In [20]:
m

[7, 8]

In [21]:
l = [3,4,5,6,7,8,332,34,56,4,5,6]
m = []

for i in l:
    if i >= 10:
        
        m.append(i+2)

In [22]:
m

[334, 36, 58]

In [23]:
s = 10
if s >= 10:
    print("yes it is lesser than 10")

yes it is lesser than 10

In [24]:
s = 10
if s > 10:
    print("yes it is lesser than 10")

In [25]:
s = 10
if s > 10:
    print("yes it is lesser than 10")
elif s < 50:
    print("this data is lesser than 50")

this data is lesser than 50

In [27]:
s = 10
if s > 10:
    print("yes it is lesser than 10")
elif s == 50:
    print("this data is lesser than 50")
else:
    print("none of the condition is true")

none of the condition is true

In [35]:
x = [1,2,3,5,6,7,8,8,9,"ravi","kumar"]


for i in x:
    if type(i) == str:
        print(i)

ravi
kumar

In [38]:
l = [5,6,7,8,9,23,44]
for i in l:
    print(i)
else:
    print("nothing in my collection")

5
6
7
8
9
23
44
nothing in my collection

In [40]:
d = 10
s = 0
i = 1

while i <= d:
    s = s+i
    i = i+1
print(s)

55

In [41]:
d = 10
s = 0
i = 1

while i <= d:
    s = s+i
    i = i+1
    print(s , i)
print(s)

1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
55

In [43]:
for x in "ravi":
    print(x)

r
a
v
i

In [47]:
for x in "ravi":
    if x == 'v':
        break
    print(x)

r
a

In [48]:
for x in "ravi":
    if x == 'v':
        break
    print(x)
print("out of loop")

r
a
out of loop

In [49]:
for x in "ravi":
    if x == 'v':
        break
    print(x)
else:
    print("i am able to complete iteration")
print("out of loop")

r
a
out of loop

In [50]:
for x in "ravi":
    if x == 'z':
        break
    print(x)
else:
    print("i am able to complete iteration")
print("out of loop")

r
a
v
i
i am able to complete iteration
out of loop

In [51]:
for i in "ravi":
    if i == 'a':
        continue
    print(i)

r
v
i

In [52]:
input()

ravi

'ravi'

In [54]:
type(input())

34

str

In [55]:
a = input()
int(a)

44

44

In [56]:
a = input()
b = int(a)
type(b)

45

int

In [57]:
a = input()
b = int(a)
type(b)

dasdfs

ValueError: invalid literal for int() with base 10: 'dasdfs'

In [58]:
int("1233434")

1233434

In [59]:
a = int("1233434")
type(a)

int

In [60]:
int("dfsgfg")
type(a)

ValueError: invalid literal for int() with base 10: 'dfsgfg'

In [1]:
a = input()
l = [1,2,3,4,4,5,6,8,9,9,7,8,9,0,0,9]
m = []

for i in l:
    if i == a:
        m.append(i)
m

5

[]

In [2]:
a = int(input())
l = [1,2,3,4,4,5,6,8,9,9,7,8,9,0,0,9]
m = []

for i in l:
    if i == a:
        m.append(i)
m

9

[9, 9, 9, 9]

In [4]:
a = int(input("insert only integer:"))
print("integer inserted")
l = [1,2,3,4,4,5,6,8,9,9,7,8,9,0,0,9]
m = []

for i in l:
    if i == a:
        m.append(i)
m

insert only integer:6
integer inserted

[6]

In [5]:
"ravi" + "kumar"

'ravikumar'

In [6]:
"ravi" + 1

TypeError: can only concatenate str (not "int") to str

In [7]:
"ravi" + "1"

'ravi1'

In [8]:
"ravi" + str(1)

'ravi1'

In [9]:
[1,2,3,4,5] + "ravi"

TypeError: can only concatenate list (not "str") to list

In [11]:
[1,2,3,4,5] + ["ravi"]

[1, 2, 3, 4, 5, 'ravi']