In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("xyz")

In [3]:
c.execute("drop table if exists abc")

In [4]:
c.execute("create table abc(id int,name text,score int)")

In [6]:
c.execute("insert into abc(id,name,score)values(345,'ravi',56678)")

In [7]:
c.commit()

In [8]:
c.execute("insert into abc(id,name,score)values(345,'ravi',56678)")
c.execute("insert into abc(id,name,score)values(346,'ravi1',56678)")
c.execute("insert into abc(id,name,score)values(347,'ravi2',56678)")
c.execute("insert into abc(id,name,score)values(348,'ravi3',56678)")
c.execute("insert into abc(id,name,score)values(349,'ravi4',56678)")
c.execute("insert into abc(id,name,score)values(344,'ravi5',56678)")
c.execute("insert into abc(id,name,score)values(343,'ravi6',56678)")
c.execute("insert into abc(id,name,score)values(342,'ravi7',56678)")
c.execute("insert into abc(id,name,score)values(341,'ravi8',56678)")

In [9]:
c.commit()

In [10]:
c.execute("select *from abc")

In [12]:
list(c.execute("select *from abc"))

[(345, 'ravi', 56678),
 (345, 'ravi', 56678),
 (346, 'ravi1', 56678),
 (347, 'ravi2', 56678),
 (348, 'ravi3', 56678),
 (349, 'ravi4', 56678),
 (344, 'ravi5', 56678),
 (343, 'ravi6', 56678),
 (342, 'ravi7', 56678),
 (341, 'ravi8', 56678)]

In [13]:
list(c.execute("select *from abc"))[0]

(345, 'ravi', 56678)

In [14]:
type(list(c.execute("select *from abc"))[0])

tuple

In [15]:
for i in list(c.execute("select *from abc")):
    print(i)

(345, 'ravi', 56678)
(345, 'ravi', 56678)
(346, 'ravi1', 56678)
(347, 'ravi2', 56678)
(348, 'ravi3', 56678)
(349, 'ravi4', 56678)
(344, 'ravi5', 56678)
(343, 'ravi6', 56678)
(342, 'ravi7', 56678)
(341, 'ravi8', 56678)

In [17]:
for i in c.execute("select * from abc order by score"):
    print(i)

(345, 'ravi', 56678)
(345, 'ravi', 56678)
(346, 'ravi1', 56678)
(347, 'ravi2', 56678)
(348, 'ravi3', 56678)
(349, 'ravi4', 56678)
(344, 'ravi5', 56678)
(343, 'ravi6', 56678)
(342, 'ravi7', 56678)
(341, 'ravi8', 56678)

In [20]:
for i in c.execute("select id,name from abc where name = 'ravi1'"):
    print(i)

(346, 'ravi1')

In [1]:
pip install mysql

Collecting mysql
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001AE0B0E52C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001AE0B0F36C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001AE0B1233C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001AE0B123F88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001AE0B123A48>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql/
  ERROR: Could not find a version that satisfies the requirement mysql (from versions: none)
ERROR: No matching distribution found for mysql

In [7]:
pip install mysql-connector

Collecting mysql-connector
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001FD589A3808>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connector/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001FD589B1DC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connector/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001FD589AB648>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connector/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001FD589AB4C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connector/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001FD589ABEC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/mysql-connector/
  ERROR: Could not find a version that satisfies the requirement mysql-connector (from versions: none)
ERROR: No matching distribution found for mysql-connector