In [1]:
a = "ravi"

In [2]:
a + 1

TypeError: can only concatenate str (not "int") to str

In [3]:
a + str(1)

'ravi1'

In [4]:
a*10

'raviraviraviraviraviraviraviraviraviravi'

In [5]:
[1,2,4,5,6,"ravindra"]*3

[1,
 2,
 4,
 5,
 6,
 'ravindra',
 1,
 2,
 4,
 5,
 6,
 'ravindra',
 1,
 2,
 4,
 5,
 6,
 'ravindra']

In [6]:
a.upper()

'RAVI'

In [7]:
x = "RAvi"

In [8]:
x.lower()

'ravi'

In [9]:
a = "ravi my name is"

In [10]:
a.split()

['ravi', 'my', 'name', 'is']

In [13]:
a = "ravimy#@$nameis"

In [14]:
a.split()

['ravimy#@$nameis']

In [15]:
a = "ra@@@vimy#@$@@@@nameis"

In [16]:
a.split("@")

['ra', '', '', 'vimy#', '$', '', '', '', 'nameis']

In [17]:
a = "ravindra"

In [18]:
a.split("A")

['ravindra']

In [20]:
a.partition("A")

('ravindra', '', '')

In [25]:
h = "raviAndraAA"

In [26]:
h.split("A")

['ravi', 'ndra', '', '']

In [27]:
h.partition("A")

('ravi', 'A', 'ndraAA')

In [28]:
type(h.split("A"))

list

In [29]:
type(h.partition("A"))

tuple

In [34]:
d = "sdasdifdadsflkgkaaifhdjlf"

In [35]:
d.find('a')

2

In [36]:
d.find("as")

2

In [37]:
d.find("z")

-1

In [38]:
f = "ravi"

In [40]:
f.center(50,"v")

'vvvvvvvvvvvvvvvvvvvvvvvravivvvvvvvvvvvvvvvvvvvvvvv'

In [42]:
f.center(50,"vi")

TypeError: The fill character must be exactly one character long

In [44]:
"sudh\tkumar".split("\t")

['sudh', 'kumar']

In [45]:
"sudh\tkum\t\t\ear".expandtabs()

'sudh    kum             \\ear'

In [46]:
"my name is {} kumar".format("ravi")

'my name is ravi kumar'

In [47]:
a = input("please give your name")

"my name is {}".format(a)

please give your nameravi

'my name is ravi'

In [49]:
a = input("please give your first name")
b = input("please give me your last name")
"my name is {}{}".format(a,b)

please give your first nameravi
please give me your last namekumar

'my name is ravikumar'

In [50]:
a = input("please give your first name")
b = input("please give me your last name")
"my name is {}".format(a,b)

please give your first nameravi
please give me your last namekuma

'my name is ravi'

In [58]:
s = "hEll2323o"

In [59]:
s.isalnum()

True

In [60]:
s.isalpha()

False

In [61]:
s.islower()

False

In [62]:
s.isupper()

False

In [63]:
a = "HELLO"

In [64]:
a.isupper()

True

In [65]:
s.istitle()

False

In [67]:
a = "Hello"

In [68]:
a.istitle()

True

In [69]:
s.endswith("d")

False

In [70]:
s.endswith("o")

True

In [71]:
len(s)

9

In [72]:
print(s)

hEll2323o

In [73]:
a = [1,2,3,4,5,6,7,"hello","ravi",4.56,6+7j]

In [76]:
m = []
for i in a:
    m.append(i)
m

[1, 2, 3, 4, 5, 6, 7, 'hello', 'ravi', 4.56, (6+7j)]

In [78]:
a = [1,2,3,4,5,6,7,"hello","ravi",4.56,6+7j]
b = [4,4,5,6,7,7,"my"]

In [79]:
a + b

[1, 2, 3, 4, 5, 6, 7, 'hello', 'ravi', 4.56, (6+7j), 4, 4, 5, 6, 7, 7, 'my']

In [80]:
a+b*2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'hello',
 'ravi',
 4.56,
 (6+7j),
 4,
 4,
 5,
 6,
 7,
 7,
 'my',
 4,
 4,
 5,
 6,
 7,
 7,
 'my']

In [82]:
b + ["ravi"]

[4, 4, 5, 6, 7, 7, 'my', 'ravi']

In [83]:
b + list("ravi")

[4, 4, 5, 6, 7, 7, 'my', 'r', 'a', 'v', 'i']

In [84]:
b

[4, 4, 5, 6, 7, 7, 'my']

In [85]:
b.append("ravi")

In [86]:
b

[4, 4, 5, 6, 7, 7, 'my', 'ravi']

In [91]:
b.insert(-1,"kumar")

In [92]:
b

[4, 4, 5, 6, 7, 7, 'kumar', 'my', 'kumar', 'ravi']

In [93]:
b.insert(3,"A")

In [94]:
b

[4, 4, 5, 'A', 6, 7, 7, 'kumar', 'my', 'kumar', 'ravi']

In [97]:
b.insert(1,[1,2,3,4])

In [98]:
b

[4, [1, 2, 3, 4], 4, 5, 'A', 6, 7, 7, 'kumar', 'my', 'kumar', 'ravi']

In [101]:
b.pop()

'kumar'

In [104]:
b.pop(1)

5

In [105]:
b[::-1]

['my', 'kumar', 7, 7, 6, 'A', 4]

In [106]:
b.reverse()

In [107]:
b

['my', 'kumar', 7, 7, 6, 'A', 4]

In [108]:
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [1]:
n = [3,4,5,6,7,8]

In [2]:
n.sort(reverse=True)

In [3]:
n

[8, 7, 6, 5, 4, 3]

In [4]:
a = [3,4,5,7,8,8]
b = [5,7,89,87,64,44,3]
c = [3,4,6,7,8,8,9,9,0,0,3]


[a,b,c]

[[3, 4, 5, 7, 8, 8],
 [5, 7, 89, 87, 64, 44, 3],
 [3, 4, 6, 7, 8, 8, 9, 9, 0, 0, 3]]

In [5]:
a = [3,4,5,7,8,8]
b = [5,7,89,87,64,44,3]
c = [3,4,6,7,8,8,9,9,0,0,3]


d = [a,b,c]

In [6]:
d[-1]

[3, 4, 6, 7, 8, 8, 9, 9, 0, 0, 3]

In [7]:
d[-1][::2]

[3, 6, 8, 9, 0, 3]

In [12]:
m = []
d = d[::-1]
for b in d:
    m.append(b[::-1])

In [13]:
d

[[3, 4, 6, 7, 8, 8, 9, 9, 0, 0, 3],
 [5, 7, 89, 87, 64, 44, 3],
 [3, 4, 5, 7, 8, 8]]

In [14]:
m

[[3, 0, 0, 9, 9, 8, 8, 7, 6, 4, 3],
 [3, 44, 64, 87, 89, 7, 5],
 [8, 8, 7, 5, 4, 3]]

In [15]:
n = []
for i in m:
    n.append(i[2])

In [16]:
n

[0, 64, 7]

In [17]:
n = []
for i in m:
    n.append(i[2]*2)

In [18]:
n

[0, 128, 14]

In [19]:
[i[2]*2 for i in m]

[0, 128, 14]

In [20]:
s = [1,2,3,4,5]
s.append(6)

In [21]:
s

[1, 2, 3, 4, 5, 6]

In [22]:
m = [4,5,7,8,7,"ijkl"]

In [27]:
m.extend([1,2,3,4,[6,5,4,3,2]])

In [28]:
m

[4, 5, 7, 8, 7, 'ijkl', 6, 5, 4, 3, 2, 1, 2, 3, 4, [6, 5, 4, 3, 2]]

In [32]:
m.index(2)

10

AttributeError: 'list' object has no attribute 'find'