In [1]:
l = [4,5,6,"ravi"]

In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
type(l)

list

In [7]:
t = (1,2,3,4,"ravi",4.6,6+7j)

In [8]:
t

(1, 2, 3, 4, 'ravi', 4.6, (6+7j))

In [9]:
t[0]

1

In [10]:
t[-1]

(6+7j)

In [11]:
t[::-1]

((6+7j), 4.6, 'ravi', 4, 3, 2, 1)

In [16]:
len(t)

7

In [17]:
l

['kumar', 5, 6, 'ravi']

In [13]:
l[0]

4

In [14]:
l[0] = "kumar"

In [15]:
l

['kumar', 5, 6, 'ravi']

In [18]:
t

(1, 2, 3, 4, 'ravi', 4.6, (6+7j))

In [19]:
t[0] = "kumar"

TypeError: 'tuple' object does not support item assignment

In [20]:
s = "ravi"

In [21]:
s[0] = "l"

TypeError: 'str' object does not support item assignment

In [22]:
t

(1, 2, 3, 4, 'ravi', 4.6, (6+7j))

In [23]:
for i in t:
    print(t)

(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))
(1, 2, 3, 4, 'ravi', 4.6, (6+7j))

In [24]:
l = [1,2,4,45]
for i in l:
    print(i)

1
2
4
45

In [25]:
t

(1, 2, 3, 4, 'ravi', 4.6, (6+7j))

In [26]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
ravi
4.6
(6+7j)

In [27]:
t.count(4)

1

In [28]:
t.index("ravi")

4

In [29]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

In [30]:
t = (2,4,3,4,6,7,8)
t1 = (6,7,8,9,"kumar")

In [31]:
t + t1

(2, 4, 3, 4, 6, 7, 8, 6, 7, 8, 9, 'kumar')

In [32]:
t * t1

TypeError: can't multiply sequence by non-int of type 'tuple'

In [33]:
t * 2

(2, 4, 3, 4, 6, 7, 8, 2, 4, 3, 4, 6, 7, 8)

In [34]:
t = (4,54,4,6,7)

In [36]:
l = list(t)

In [37]:
list(t).insert

In [38]:
l

[4, 54, 4, 6, 7]

In [39]:
l.insert(2,"ravi")

In [40]:
l

[4, 54, 'ravi', 4, 6, 7]

In [41]:
tuple(l)

(4, 54, 'ravi', 4, 6, 7)

In [49]:
s = set([1,2,3,4,1,3,4,2122,1,1,"ravi",'ravi','Ravi',4.5,True,7+99j])

In [50]:
s

{(7+99j), 1, 2, 2122, 3, 4, 4.5, 'Ravi', 'ravi'}

In [51]:
s[0]

TypeError: 'set' object is not subscriptable

In [53]:
for i in s:
    print(i)

1
2
3
4
4.5
Ravi
2122
(7+99j)
ravi

In [54]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [57]:
d = set([3,4,13,3,3,2,3,4,5,6,6])

In [58]:
d

{2, 3, 4, 5, 6, 13}

In [60]:
list(d)[::-1]

[13, 6, 5, 4, 3, 2]

In [61]:
d

{2, 3, 4, 5, 6, 13}

In [64]:
b = {4}

In [65]:
type(b)

set

In [66]:
b.add("ravi")

In [67]:
b

{4, 'ravi'}

In [68]:
b.pop()

'ravi'

In [69]:
b.pop()

4

In [70]:
b.pop()

KeyError: 'pop from an empty set'

In [71]:
d

{2, 3, 4, 5, 6, 13}

In [75]:
d.pop(2)

TypeError: pop() takes no arguments (1 given)

In [76]:
s = {4,5,6,245,6,4,5,2,5,7,9,0,"ravi",'kumar'}

In [77]:
s

{0, 2, 245, 4, 5, 6, 7, 9, 'kumar', 'ravi'}

In [78]:
s = set()

In [79]:
s

set()

In [80]:
s = {4,5,6,245,6,4,5,2,5,7,9,0,[34,5,6,"abc"],"ravi",'kumar'}

TypeError: unhashable type: 'list'

In [85]:
b = {3,4,5,6,2,4,5,8,0,2442,5,66,7877,456565}

In [86]:
b

{0, 2, 3, 4, 5, 6, 8, 66, 2442, 7877, 456565}

In [87]:
for i in b:
    print(i)

0
2
3
4
5
6
66
8
7877
2442
456565

In [88]:
l = [1,2,3]

In [89]:
l

[1, 2, 3]

In [90]:
set(l)

{1, 2, 3}

In [91]:
list(l)

[1, 2, 3]

In [92]:
d = {}

In [93]:
type(d)

dict

In [100]:
d = {"name":"ravi",'surname':"kumar","name":"abc"}

In [101]:
d

{'name': 'abc', 'surname': 'kumar'}

In [104]:
d = {3:"ravi",'surname':"kumar","name":"abc",@@:"kumar"}

SyntaxError: invalid syntax (<ipython-input-104-c19e53221f50>, line 1)

In [105]:
d

{3: 'ravi', 'surname': 'kumar', 'name': 'abc'}

In [108]:
d = {3:"ravi",'surname':"kumar","name":"abc",'@@':"kumar"}

In [109]:
d

{3: 'ravi', 'surname': 'kumar', 'name': 'abc', '@@': 'kumar'}

In [118]:
d = {"key":[[1,2,3,4],[23,2,3]],"key1":(1,2,3,4),"key3":{12,2,3},"key4":{"a":23,"b":"uou"}}

In [119]:
d

{'key': [[1, 2, 3, 4], [23, 2, 3]],
 'key1': (1, 2, 3, 4),
 'key3': {2, 3, 12},
 'key4': {'a': 23, 'b': 'uou'}}

In [120]:
d[0]

KeyError: 0

In [121]:
d["key4"]

{'a': 23, 'b': 'uou'}

In [127]:
d["key4"]['a']

23

In [128]:
for i in d:
    print(i)

key
key1
key3
key4

In [129]:
for i in d:
    print(d[i])

[[1, 2, 3, 4], [23, 2, 3]]
(1, 2, 3, 4)
{2, 3, 12}
{'a': 23, 'b': 'uou'}

In [130]:
d.keys()

dict_keys(['key', 'key1', 'key3', 'key4'])

In [131]:
d.values()

dict_values([[[1, 2, 3, 4], [23, 2, 3]], (1, 2, 3, 4), {2, 3, 12}, {'a': 23, 'b': 'uou'}])

In [132]:
m = []
for i in d.values():
    if type(i) == tuple:
        for j in i:
            m.append(j)

In [133]:
m

[1, 2, 3, 4]

In [134]:
m = []
for i in d.values():
    if type(i) == list:
        for j in i:
            m.append(j)

In [135]:
m

[[1, 2, 3, 4], [23, 2, 3]]

In [136]:
d

{'key': [[1, 2, 3, 4], [23, 2, 3]],
 'key1': (1, 2, 3, 4),
 'key3': {2, 3, 12},
 'key4': {'a': 23, 'b': 'uou'}}

In [139]:
d["key3"] = "this is my new one"

In [140]:
d

{'key': [[1, 2, 3, 4], [23, 2, 3]],
 'key1': (1, 2, 3, 4),
 'key3': 'this is my new one',
 'key4': 'this is my new one'}

In [1]:
d = {}
for i in range(10):
    d[i] = i**2

In [2]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
l = ["ravi","kumar","xyz",'abc']
d = {}
for i in l:
    d[i] = i.upper()

In [4]:
d

{'ravi': 'RAVI', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [6]:
l = ["ravi","kumar","xyz",'abc']
d = {}
for i in l:
    d[i] = i.isupper()

In [7]:
d

{'ravi': False, 'kumar': False, 'xyz': False, 'abc': False}

In [8]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
d.items()

dict_items([('ravi', False), ('kumar', False), ('xyz', False), ('abc', False)])

In [12]:
def test():
    pass

In [15]:
type(test())

NoneType

In [17]:
for i in range(8):
    pass

In [18]:
def test():
    print("this is my first function")

In [19]:
test()

this is my first function

In [20]:
def test():
    a = 1
    b = 3
    print("this is my first function",a+b)

In [21]:
test()

this is my first function 4

In [22]:
type(print("xyz"))

xyz

NoneType

In [23]:
def test():
    a = 1
    b = 3
    print(a+b)

In [25]:
test()

4

In [1]:
def test():
    a = 4
    b = 9
    return a+b

In [2]:
test()

13

In [3]:
n = test()

In [4]:
n

13

In [5]:
n + 5

18

In [6]:
def test(a,b):
    return a+b

In [8]:
test(2,2)

4

In [10]:
y = test("sudh","kumar")

In [11]:
type(y)

str

In [12]:
y.upper()

'SUDHKUMAR'

In [13]:
test([3,4,5,6,6],["ravi"])

[3, 4, 5, 6, 6, 'ravi']

In [18]:
def test(a,b):
    return a+b,a*b

In [20]:
y,x = test(4,5)

In [21]:
y

9

In [22]:
x

20

In [23]:
a = 1
b = 2
c = 9
d = "ravi"

In [24]:
a,b,c,d = 5,6,7,'ravi'

In [25]:
d

'ravi'

In [26]:
c

7

In [27]:
print()

In [30]:
def test(a,b = "ravi"):
    return a+b

In [31]:
test("ravi")

'raviravi'